<p>Votes: <%= @votable.vote_count %></p>
<p><%= link_to "Vote Up", question_votes_path(@votable, :up_down => 1 ), :method => :post %></p>
<p><%= link_to "Vote Down", question_votes_path(@votable, :up_down => -1 ), :method => :post %></p>
