<p>
    <%= link_to "Vote Up", question_votes_path(@votable, :up => 1 ), :method => :post %>
    <%= link_to "Vote Down", question_votes_path(@votable, :up => -1 ), :method => :post %>
</p>
<%= @votable.user_id %>
