<div class= "ask_answer">
  <ul>
    <%= form_for [@question, @answer] do |f| %>
      <li class="text_input"><%= f.label :text  %>
      <%= f.text_area :text  %></li>
      <li class="text_submit"><%= f.submit "Answer", :class => "submitAnswer" %></li>
    <% end %>
  </ul>
</div>