<div class="user_profile">
  <ul>
    <li><span class="username"><h1><%= @user.username %></h1></span></li>
    <li><h3>Joined on <%= @user.created_at.to_date %></h3></li>
    <br>
    <li>Questions Asked:
      <% @user.questions.each do |question| %>
        <span class="q_a_link"><%= link_to question.title, question_path(question) %> </span>
      <% end  %>
    </li>
    <li>Answers to Questions:
      <% @user.answers.each do |answer| %>
        <span class="q_a_link"><%= link_to answer.question.title, question_path(answer.question) %></span>
        <% end %></li>
  </ul>
</div>