<%= render 'shared/login:logout' %>
<%= render 'form', :object => @question=Question.new  %>
<ul>
   <% @questions.each do |question| %>
    <li><%= link_to question.title, question_path(question) %></li>
  <% end %>
</ul>

<%= button_to "Ask a Question", new_question_path, :method => :get %>